<p style="color: red; "><%= flash[:error] %> </p>
<p>Price<br/> <%= f.text_field :price  %>  </p>
<p>Name</p> <%= f.text_field :name  %>      </p>
<p>Description</p> <%= f.text_area :description  %>  </p>
<p>Weight</p> <%= f.text_field :weight  %> </p>