<h1>Show</h1>

<h1><%=@item.name %></h1>

  <ul>
<li><%=@item.description %></li>
<li><%=@item.price %></li>
<li><%=@item.weight %></li>
</ul>
<h2><%=link_to "Edit", "#{item_path(@item)}"+"/edit"%></h2>